.features-div{
    display: flex;
    
    border: 1px solid rgb(231, 225, 225);
}
.features-div img{
    margin-top: 15px;
    width: 65px;
    margin-right: 6px;
    height: 30px;
    margin-left: 6px;
}

.info{
    margin-left: 6px;
}

.all-features{
    margin-top: 60px;
    padding: 15px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}